footer{
  background-color: rgb(255, 138, 88);
  left: 0;
  right: 0;
  bottom: 0;
  height: 120px;
}

.footer-flex{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 600px;
  justify-content: space-between;
  margin: auto;
  padding-top: 40px;
  margin-top: 60px;

}

.footer-flex p{
  padding-left: 30px;
  padding-right: 30px;
}

@media only screen and (min-width: 750px) {
  .footer-flex{
    flex-direction: row;
  }
}