.video-area{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}

.video-box-vertical{
  width: 100%;
  height: auto;
}

.video-box{
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;

}

.video-clickable{
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
}

.video-clickable img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform .2s ease-in-out;
  transform: scale(1.0);
}

@media only screen and (min-width: 750px){
  .video-area{
    flex-direction: row;
  }

  .video-box-vertical{
    width: calc(50% - 10px);
  }
}


.video-clickable img:hover{
  transform: scale(1.015);
}

.overlay{
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
}

iframe{
  height: 100%;
  width: 100%;
}